* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #232536;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
