:root{
  --subtitle-color: #000000;
  --text-color: #232536;
  --main-color: #444CFC;
  --second-color: #FFA155;
  --third-color: #FFD3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #232536;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
